body{
    background-image: url('./img/cork.png');
    font-family: 'Edu Tas Beginner', sans-serif;
}

#header{
    background-image: url('./img/wall.png');
}

.text-secondary{
    font-family: 'Sometype Mono', 'monospace';
}

.card{
    transition: transform 0.3s ease;

    &:hover{
        transform: rotate(10deg);

        #chiodo{
            display: none;
        }

        
    }
}