/* Font Family */

#title{
    font-family: 'Edu Tas Beginner', sans-serif;
}

main{
    font-family: 'Sometype Mono', 'monospace';
}

/* Background images */

#body{
    background-image: url('./img/cork.png');
}

#header{
    background-image: url('./img/wall.png');
}